*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    height: 100vh;
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;

}
.top {
    color: white;
    font-weight: bold;
    background: linear-gradient(#8f7878, #9198e5ca), url("back.png") no-repeat;
    letter-spacing: 2px;
    text-align: center;
    height: 28vw;
    padding-top: 3%;
    font-size: 25px;
    /* clip-path: polygon(20% 5%, 100% 0, 100% 100%, 100% 90%, 0 100%, 0% 100%, 0 0); */
    
}

.budget-container { 
    width: 9vw;
    display: inline-block;
}

.budget-income {
    color: white;
    padding: 7px 0;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: -5px 3px 4px rgba(0, 0, 0, 0.329);
    background-color: rgb(149, 218, 149);
}

.budget-outcome {
    color: white;
    padding: 7px 0;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: -5px 3px 4px rgba(0, 0, 0, 0.329);
    background-color: rgb(200, 52, 52);
}

.add {
    position: relative;
    top: -40px;
    padding: 25px;
    display: block;
    height: 5vw;
    text-align: center;
    background-color: whitesmoke;
}


input {
    padding: 10px 20px;
    border: none;
    border-bottom-right-radius: 1px solid black;
    
}

input:focus {
    border-color: rgb(44, 184, 177);
}

select {
    width: 60px;
    font-size: 25px;
    -webkit-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 90.5% !important; /* !important used for overriding all other customisations */
    border-radius: 4px;
}

.btnSubmit {
border: none;
font-size: 20px;

}

select:focus {
    border-bottom: 1px solid #ccc;
}

.bot{
    display: flex;
    justify-content: space-evenly;

}

.vl {
    border-left: 4px solid #dfd5d586;;
    height: 100vw; 
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30vw;
    font-size: 20px;

}

.newLi {
    border-bottom: 1px solid #ccc;
}
.newLi:hover {
    background: #dfd5d586;
    border-radius: 8px;
    border-bottom: 4px solid #dfd5d586;;
}

li:last-child {
    border: none;
}


.editBtn {
    float: right;
    color: rebeccapurple;
    
}
.deleteBtn {
   float: right;
    color: rebeccapurple;
}
