*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    height: 100vh;
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;

}
.top {
    color: white;
    font-weight: bold;
    background: linear-gradient(#8f7878, #9198e5ca), url("back.png");
    background-position: center;
    letter-spacing: 2px;
    text-align: center;
    height: 47vh;
    padding-top: 3%;
    font-size: 25px;  
}


.budget-container { 
    text-align: center;
    width: 9vw;
    display: inline-block;
}

.budget-income {
    color: white;
    padding: 7px 0;
    border-radius: 4px;
    box-shadow: -5px 3px 4px rgba(0, 0, 0, 0.329);
    background-color: rgb(149, 218, 149);
}

h2 {
    text-align: center;
}

.income h2 {
    color: rgb(149, 218, 149);
}

.exp h2 {
    color: rgb(200, 52, 52);

}

.budget-outcome {
    color: white;
    padding: 7px 0;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: -5px 3px 4px rgba(0, 0, 0, 0.329);
    background-color: rgb(200, 52, 52);
}


.chip{
	padding: 8px 10px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	cursor: pointer;
}
.add {
    position: relative;
    top: -40px;
    padding: 25px;
    display: block;
    height: 5vw;
    text-align: center;
    background-color: whitesmoke;
}


input {
    padding: 7px 20px;
    border: none;
    border-bottom-right-radius: 1px solid black;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    border-radius: 3px;
    outline: none;
}

input:focus {
    border-color: rgb(44, 184, 177);
}

select {
    font-size: large;
    text-align: center;
    width: 3vw;
    height: 3vh;
    padding:3px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.btnSubmit {
border: none;
font-size: 20px;
box-shadow: 0 3px #ccc;
padding: 4px 15px;
border-radius: 5px;
outline: none;

}


select:focus {
    border-bottom: 1px solid #ccc;
}

.bot{
    display: flex;
    justify-content: space-evenly;

}

.vl {
    border-left: 4px solid #dfd5d586;;
    height: 100vw; 
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30vw;
    font-size: 20px;

}

.newLi {
    border-bottom: 1px solid #ccc;
}
.newLi:hover {
    background: #dfd5d586;
    border-radius: 8px;
    border-bottom: 4px solid #dfd5d586;;
}

li:last-child {
    border: none;
}


.editBtn {
    float: right;
    color: rebeccapurple;
    
}
.deleteBtn {
   float: right;
    color: rebeccapurple;
}
